<div class="container content-space-t-2">
    <div class="w-lg-65 text-center mx-lg-auto">
      <h2>Día de la boda</h2>
      <p>Estamos encantados de compartir contigo los detalles de nuestro día especial. A continuación, encontrarás el horario de la celebración y los momentos que hemos preparado con tanto cariño para disfrutar juntos.</p>
    </div>

    <div class="w-lg-75 mx-lg-auto">
      <!-- List Timeline -->
      <ul class="list-unstyled list-timeline list-py-3">
        <!-- Card Iglesia -->
        <li class="list-timeline-item">
          <a class="card card-sm card-transition-zoom" href="#">
            <div class="card-transition-zoom-item">
              <img class="card-img" src="/galeria/dia-boda/iglesia-2.jpeg" alt="Image Description">
            </div>
            <div class="card-img-overlay top-auto">
              <div class="d-flex justify-content-end flex-column bg-white rounded-3 p-4">
                <h4 class="card-title"><span class="fs-2 text-primary">01.</span> Ceremonia</h4>
                <p class="card-text">La misa dará comienzo a las 13:00 en la capilla que se encuentra en el interior del pazo.</p>
              </div>
            </div>
          </a>
        </li>
        <!-- End Card Iglesia -->
        <!-- Card Aperitivo -->
        <li class="list-timeline-item ms-auto">
          <a class="card card-sm card-transition-zoom" href="#">
            <div class="card-transition-zoom-item">
              <img class="card-img" src="/galeria/dia-boda/boj.jpg" alt="Image Description">
            </div>
            <div class="card-img-overlay top-auto">
              <div class="d-flex justify-content-end flex-column bg-white rounded-3 p-4">
                <h4 class="card-title"><span class="fs-2 text-primary">02.</span> Aperitivo en los jardines</h4>
                <p class="card-text">Al terminar la misa, el personal del pazo te guiará a los jardines para reencontrarte con nosotros y comenzar la celebración.</p>
              </div>
            </div>
          </a>
        </li>
        <!-- End Card Aperitivo -->
        <!-- Card Banquete -->
        <li class="list-timeline-item">
          <a class="card card-sm card-transition-zoom" href="#">
            <div class="card-transition-zoom-item">
              <img class="card-img" src="/galeria/dia-boda/mesas-claustro.jpeg" alt="Image Description">
            </div>
            <div class="card-img-overlay top-auto">
              <div class="d-flex justify-content-end flex-column bg-white rounded-3 p-4">
                <h4 class="card-title"><span class="fs-2 text-primary">03.</span> Comida en el claustro</h4>
                <p class="card-text">Tras el aperitivo nos dirigiremos al claustro del pazo para disfrutar de la comida.</p>
              </div>
            </div>
          </a>
        </li>
        <!-- End Card Banquete -->
        <!-- Card Fiesta -->
        <li class="list-timeline-item ms-auto">
          <a class="card card-sm card-transition-zoom" href="#">
            <div class="card-transition-zoom-item">
              <img class="card-img" src="/galeria/dia-boda/fiesta-2.jpg" alt="Image Description">
            </div>
            <div class="card-img-overlay top-auto">
              <div class="d-flex justify-content-end flex-column bg-white rounded-3 p-4">
                <h4 class="card-title"><span class="fs-2 text-primary">04.</span> Fiesta</h4>
                <p class="card-text">Esperamos que cojas energía en la comida porque te queremos dándolo todo en la pista de baile.</p>
              </div>
            </div>
          </a>
        </li>
        <!-- End Card Fiesta -->
      </ul>
      <!-- End List Timeline -->
    </div>
  </div>