<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(function(){
      $("#mapa-footer").load("/template/mapa.html");
    });
  </script>
<div class="container">
  <div class="row align-items-center pt-8">
    <div class="col-md mb-5 mb-md-0">

    </div>
    <!-- End Col -->

  </div>
  <!-- End Row -->

  <div class="border-bottom border-white-10">
    <div class="row">
      <div class="col-12 col-md-6">
        <h2 class="fw-medium text-white-70 mb-5">Boda de <span class="fw-bold text-white">Bea y Pablo</span></h2>
        <p class="fw-medium text-white-70 mb-0">13 de Septiembre del 2025</span></p>
        <p class="fw-medium text-white-70 mb-0">Pazo de san Lorenzo, Santiago de Compostela</span></p>
        <div class="col-md-auto py-6">
          <div class="d-grid d-sm-flex gap-3">
            <a class="btn btn-primary" href="/paginas/formulario-registro.html">Confirmar asistencia</a>
            <a class="btn btn-ghost-light btn-pointer" href="#lista-hoteles">Ver hoteles cercanos</a></a>
          </div>
        </div>
      </div>
      <!-- End Col -->

      <div class="col-12 col-md-6">
        <!-- Sliding Image -->
        <div class="sliding-img mb-3 rounded-3">
          <div class="sliding-img-frame-to-start" style="background-image: url(/galeria/galeria-footer2.jpg)"></div>
        </div>
        <!-- End Sliding Image -->
      </div>
      <!-- End Col -->

    </div>
    <!-- End Row -->
  </div>
  <!-- End Row -->
</div>