
<div class="container">
  <nav class="js-mega-menu navbar-nav-wrap">
    <!-- Default Logo -->
    <a class="navbar-brand" href="/" aria-label="Unify">
      <img class="navbar-brand-logo" src="/assets/img/logo-4.png" alt="Image Description">
    </a>
    <!-- End Default Logo -->

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-default">
        <i class="bi-list"></i>
      </span>
      <span class="navbar-toggler-toggled">
        <i class="bi-x"></i>
      </span>
    </button>
    <!-- End Toggler -->

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="navbar-absolute-top-scroller">
        <ul class="navbar-nav nav-pills">
          <!-- Mapa -->
          <li class="nav-item">
            <a class="nav-link" href="#mapa">Lugar de celebración</a>
          </li>
          <!-- End Mapa -->
          <!-- Día de la boda -->
          <li class="nav-item">
            <a class="nav-link" href="#dia-boda">Día de la boda</a>
          </li>
          <!-- End Día de la boda -->
          <!-- Hoteles-->
          <li class="nav-item">
            <a class="nav-link" href="#lista-hoteles">Hoteles</a>
          </li>
          <!-- End Hoteles -->
          <!-- Regalos -->
          <li class="nav-item">
            <a class="nav-link" href="#lista-novios">Participa en nuestra historia</a>
          </li>
          <!-- End Regalos -->


          <!-- Confirmar asistencia -->
          <li class="nav-item ms-lg-auto">
            <a class="btn btn-dark d-none d-lg-inline-block" href="/paginas/formulario-registro.html">Confirmar Asistencia</a>
          </li>
          <!-- End Confirmar Asistencia -->
        </ul>
      </div>
    </div>
    <!-- End Collapse -->
  </nav>
</div>