
<div class="container">
  <nav class="js-mega-menu navbar-nav-wrap">
    <!-- Default Logo -->
    <a class="navbar-brand" href="/index.html" aria-label="Unify">
      <img class="navbar-brand-logo" src="/assets/img/logo-4.png" alt="Image Description">
    </a>
    <!-- End Default Logo -->

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-default">
        <i class="bi-list"></i>
      </span>
      <span class="navbar-toggler-toggled">
        <i class="bi-x"></i>
      </span>
    </button>
    <!-- End Toggler -->

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="navbar-absolute-top-scroller">
        <ul class="navbar-nav nav-pills">
          <!-- Mapa -->
          <li class="nav-item">
            <a class="nav-link" href="/paginas/mapa.html">Mapa</a>
          </li>
          <!-- End Mapa -->
          <!-- Día de la boda -->
          <li class="nav-item">
            <a class="nav-link" href="/paginas/dia-boda.html">Día de la boda</a>
          </li>
          <!-- End Día de la boda -->
          <!-- Regalos -->
          <li class="nav-item">
            <a class="nav-link" href="/paginas/regalos.html">Participa en nuestra historia</a>
          </li>
          <!-- End Regalos -->
           <!-- Hero section -->
          <li class="nav-item">
            <a class="nav-link" href="/paginas/hero-section.html">Hero section</a>
          </li>
          <!-- End Hero section -->
           <!-- Hoteles-->
          <li class="nav-item">
            <a class="nav-link" href="/paginas/hoteles.html">Hoteles</a>
          </li>
          <!-- End Hoteles -->

          <!-- Sign up -->
          <li class="nav-item ms-lg-auto">
            <a class="btn btn-dark d-none d-lg-inline-block" href="/templates/index.html">Ver plantilla</a>
          </li>
          <!-- End Sign up -->
        </ul>
      </div>
    </div>
    <!-- End Collapse -->
  </nav>
</div>