<div class="container content-space-t-3">
    <div class="row justify-content-lg-between align-items-lg-center">
      <div class="col-lg-5 mb-5 mb-lg-0">
        <div class="mb-5">
          <h1 class="display-4 text-dark mb-5">Bienvenido a la <span class="text-primary">Boda de Bea y Pablo</span></h1>
          <p class="fs-3">Estamos muy contentos de que estés aquí para poder contarte todos los detalles de nuestra boda! :)</p>
        </div>

        <div class="d-grid d-sm-flex gap-3 mb-5">
          <a class="btn btn-primary" href="/paginas/formulario-registro.html">Confirmar asistencia</a>
          <a class="btn btn-ghost-dark btn-pointer" href="#">Conocer más detalles</a>
        </div>
      </div>
      <!-- End Col -->

      <div class="col-lg-6">
        <div class="position-relative">
          <div class="position-relative">
            <img class="img-fluid" src="/galeria/beaYPablo1.jpeg" alt="Image Description">

            <div class="position-absolute bottom-0 end-0">
              <img class="w-100" src="" alt="" style="max-width: 30rem;">
            </div>
          </div>
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>