<div class="container content-space-t-2"></div>
  <!-- Heading -->
  <div class="w-lg-65 text-center mx-lg-auto">
    <h2 class="text-white">Lugar de celebración</h2>
    <p class="text-white">La misa y posterior celebración tendrán lugar en el <b>Pazo de San Lorenzo de Trasouto</b> en Santiago de Compostela.</p>
    <div class="d-flex justify-content-center">
      <ul class="text-white text-start">
      <li><u>No dispone de parking</u>, pero hay zonas blancas de aparcamiento cerca del pazo.</li>
      <li>Dada la céntrica ubicación del pazo <u>no va a haber servicio de autobuses</u>.</li>
      <li>Recomendamos acudir al pazo con tiempo y caminando o en taxi dependiendo de la cercanía del alojamiento.</li>
      </ul>
    </div>
  </div>
  <!-- End Heading -->
  <div class="container content-space-1">
  <div class="ratio ratio-16x9">
    <iframe class="rounded"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2239.401658396633!2d-8.559226153667096!3d42.877973048865286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2efe697f7d8de7%3A0x114f9b52ff93c6de!2sPazo%20de%20San%20Lorenzo%20de%20Trasouto!5e1!3m2!1ses!2ses!4v1733578276226!5m2!1ses!2ses"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
    <!-- <iframe class="rounded"
    src="https://www.google.com/maps/d/embed?mid=1zLYhwaTBdiRcPbJfKyjFurfVgSGZ61k&hl=es&ehbc=2E312F"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    ></iframe> -->
  </div>
  </div>
</div>