<script>
    $(document).ready(function() {
        cargarRegalos();
    });
</script>
<div class="container content-space-t-2">
    <!-- Card Grid -->
    <div class="overflow-hidden">
            <!-- Heading -->
            <div class="w-lg-65 text-center mx-lg-auto mb-5 mb-sm-7 mb-lg-10">
                <h1>Participa en nuestra historia</h1>
                <!-- <p>Para nosotros lo más importante es tú compañía en nuestro día más especial. Si de todas formas quieres formar parte del inicio de nuestra aventura, estas son algunas experiencias y colaboraciones en las que nos puedes ayudar.</p> -->
                <p>Esta sección es nuestra lista de bodas. Si quieres te la puedes saltar, porque para nosotros los más importante es contar con tu presencia. Si de todas formas quieres hacernos un regalo para que empecemos nuestra aventura juntos, te dejamos algunas sugerencias.</p>
                <h6>¡Contribuye al regalo que quieras!</h6>
            </div>
            <!-- End Heading -->

            <div class="row justify-content-center" id="regalos">
                <div class="text-center p-4 bg-info rounded-3 mb-5 w-65" id="RecargarRegalos">
                    <div class="mb-4">
                        <h3 class="mb-1">Error al cargar la lista</h3>
                        <p>Prueba a refrescar la página para verla correctamente</p>
                    </div>
                    <a class="btn btn-primary" href="javascript:location.reload();window.location.hash='lista-novios'">Refrescar la página</a>
                </div>
            </div>
            <!-- End Row -->

    </div>
    <!-- End Card Grid -->
</div>