<div class="hero">
    <div class="hero-content rounded-3 bg-white bg-opacity-75 p-5 text-center">
        <!-- <h1 class="display-4">Boda de Bea y Pablo</h1> -->
        <div class="js-countdown row">
        <div class="col-3">
            <h2 class="js-cd-days h1 text-primary mb-0"></h2>
            <h5 class="mb-0">Días</h5>
        </div>
        <!-- End Col -->
        <div class="col-3">
            <h2 class="js-cd-hours h1 text-primary mb-0"></h2>
            <h5 class="mb-0">Horas</h5>
        </div>
        <!-- End Col -->
        <div class="col-3">
            <h2 class="js-cd-minutes h1 text-primary mb-0"></h2>
            <h5 class="mb-0">Minutos</h5>
        </div>
        <!-- End Col -->
        <div class="col-3">
            <h2 class="js-cd-seconds h1 text-primary mb-0"></h2>
            <h5 class="mb-0">Segundos</h5>
        </div>
        <!-- End Col -->
        </div>
        <!-- End Row -->
        <p class="lead mt-3">13 de septiembre de 2025</p>
    </div>
</div>

<script>
    (function() {
      // INITIALIZATION OF COUNTDOWN
      // =======================================================
      const oneYearFromNow = new Date()

      document.querySelectorAll('.js-countdown').forEach(item => {
        const days = item.querySelector('.js-cd-days'),
          hours = item.querySelector('.js-cd-hours'),
          minutes = item.querySelector('.js-cd-minutes'),
          seconds = item.querySelector('.js-cd-seconds')

        countdown(new Date(2025, 8, 13, 13, 0),
          ts => {
            days.innerHTML = ts.days
            hours.innerHTML = ts.hours
            minutes.innerHTML = ts.minutes
            seconds.innerHTML = ts.seconds
          },
          countdown.DAYS | countdown.HOURS | countdown.MINUTES | countdown.SECONDS
        )
      })
    })()
  </script>